<header>
    <!--? Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="/"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <% if(!data) {%>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/doctor">Doctors</a></li>
                                        <li><a href="/department">Department</a></li>
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                <a href="/register" class="btn header-btn">SignUp!</a>
                            </div>
                            <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                <a href="/login" class="btn header-btn">LogIn</a>
                            </div>
                        </div>
                    </div>   
                    <%}else{%>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/about">About</a></li>
                                            <li><a href="/doctor">Doctors</a></li>
                                            <li><a href="/department">Department</a></li>
                                            <li><a href="/blog">Blog</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li>
                                                <ul class="navbar-nav ml-auto">
                                                    <li class="nav-item dropdown no-arrow">
                                                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="mr-2 d-none d-lg-inline text-blue-300 large"><%=data.firstname%></span>
                                                            <img class="img-profile rounded-circle" src="/upload/<%=data.Picture%>" width="45" height="50">
                                                        </a>
                                                        <div class="dropdown-content" aria-labelledby="userDropdown">
                                                            <a class="dropdown-item" href="/userProfile">Profile</a>
                                                            <a class="dropdown-item" href="/logout">Logout</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <%}%>
                        
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>